<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pknu26.foodie.mapper.FoodMapper">

    <select id="findAll" resultType="Food">
        SELECT id
             , name
             , category
             , rating
             , memo
             , eat_date     AS eatDate
             , created_at   AS createdAt
          FROM food
         ORDER BY id
    </select>

    <select id="findById" parameterType="long" resultType="Food">
        SELECT id
             , name
             , category
             , rating
             , memo
             , eat_date     AS eatDate
             , created_at   AS createdAt
          FROM food
         WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Food">
        INSERT INTO food (
            id,
            name,
            category,
            rating,
            memo,
            eat_date,
            created_at
        ) VALUES (
            food_seq.NEXTVAL,
            #{name},
            #{category},
            #{rating},
            #{memo},
            #{eatDate},
            SYSDATE
        )
    </insert>

    <update id="update" parameterType="Food">
        UPDATE food
           SET name = #{name}
             , category = #{category}
             , rating = #{rating}
             , memo = #{memo}
             , eat_date = #{eatDate}
         WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE
          FROM food
         WHERE id = #{id}
    </delete>

</mapper>